NEXT_PUBLIC_SITE_URL=https://www.seinbioze.krisdesign.fr

NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

# optional mapping if you prefer Stripe Price IDs from dashboard
STRIPE_PRICE_GIFT_CARD_100=
STRIPE_PRICE_BON_SUIVI=
STRIPE_PRICE_KIT_ENTRETIEN=
